.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.DS_Store
./resources/docker/mariadb/*
/resources/docker/mariadb/data/.my-healthcheck.cnf
/resources/php/api_log.log
/resources/docker/mariadb/data/aria_log.00000001
/resources/docker/mariadb/data/aria_log_control
/resources/docker/mariadb/data/mysql/column_stats.frm
/resources/docker/mariadb/data/mysql/column_stats.MAD
/resources/docker/mariadb/data/mysql/column_stats.MAI
/resources/docker/mariadb/data/mysql/columns_priv.frm
/resources/docker/mariadb/data/mysql/columns_priv.MAD
/resources/docker/mariadb/data/mysql/columns_priv.MAI
/resources/docker/mariadb/data/mysql/db.frm
/resources/docker/mariadb/data/mysql/db.MAD
/resources/docker/mariadb/data/mysql/db.MAI
/resources/docker/mariadb/data/mysql/db.opt
/resources/docker/mariadb/data/performance_schema/db.opt
/resources/docker/mariadb/data/projectDB/db.opt
/resources/docker/mariadb/data/projectDB/Dealer.frm
/resources/docker/mariadb/data/projectDB/dealer.ibd
/resources/php/error.log
/resources/docker/mariadb/data/mysql/event.frm
/resources/docker/mariadb/data/mysql/event.MAD
/resources/docker/mariadb/data/mysql/event.MAI
/resources/docker/mariadb/data/mysql/func.frm
/resources/docker/mariadb/data/mysql/func.MAD
/resources/docker/mariadb/data/mysql/func.MAI
/resources/docker/mariadb/data/mysql/general_log.CSM
/resources/docker/mariadb/data/mysql/general_log.CSV
/resources/docker/mariadb/data/mysql/general_log.frm
/resources/docker/mariadb/data/mysql/global_priv.frm
/resources/docker/mariadb/data/mysql/global_priv.MAD
/resources/docker/mariadb/data/mysql/global_priv.MAI
/resources/docker/mariadb/data/mysql/gtid_slave_pos.frm
/resources/docker/mariadb/data/mysql/gtid_slave_pos.ibd
/resources/docker/mariadb/data/mysql/help_category.frm
/resources/docker/mariadb/data/mysql/help_category.MAD
/resources/docker/mariadb/data/mysql/help_category.MAI
/resources/docker/mariadb/data/mysql/help_keyword.frm
/resources/docker/mariadb/data/mysql/help_keyword.MAD
/resources/docker/mariadb/data/mysql/help_keyword.MAI
/resources/docker/mariadb/data/mysql/help_relation.frm
/resources/docker/mariadb/data/mysql/help_relation.MAD
/resources/docker/mariadb/data/mysql/help_relation.MAI
/resources/docker/mariadb/data/mysql/help_topic.frm
/resources/docker/mariadb/data/mysql/help_topic.MAD
/resources/docker/mariadb/data/mysql/help_topic.MAI
/resources/docker/mariadb/data/ib_buffer_pool
/resources/docker/mariadb/data/ib_logfile0
/resources/docker/mariadb/data/ibdata1
/resources/docker/mariadb/data/mysql/index_stats.frm
/resources/docker/mariadb/data/mysql/index_stats.MAD
/resources/docker/mariadb/data/mysql/index_stats.MAI
/resources/docker/mariadb/data/mysql/innodb_index_stats.frm
/resources/docker/mariadb/data/mysql/innodb_index_stats.ibd
/resources/docker/mariadb/data/mysql/innodb_table_stats.frm
/resources/docker/mariadb/data/mysql/innodb_table_stats.ibd
/resources/docker/mariadb/data/projectDB/Item.frm
/resources/docker/mariadb/data/projectDB/item.ibd
/resources/docker/mariadb/data/projectDB/login_attempts.frm
/resources/docker/mariadb/data/projectDB/login_attempts.ibd
/resources/docker/mariadb/data/multi-master.info
/resources/docker/mariadb/data/mysql_upgrade_info
/resources/docker/mariadb/data/projectDB/Orders.frm
/resources/docker/mariadb/data/projectDB/orders.ibd
/resources/docker/mariadb/data/projectDB/OrdersItem.frm
/resources/docker/mariadb/data/projectDB/ordersitem.ibd
/resources/docker/mariadb/data/mysql/plugin.frm
/resources/docker/mariadb/data/mysql/plugin.MAD
/resources/docker/mariadb/data/mysql/plugin.MAI
/resources/docker/mariadb/data/mysql/proc.frm
/resources/docker/mariadb/data/mysql/proc.MAD
/resources/docker/mariadb/data/mysql/proc.MAI
/resources/docker/mariadb/data/mysql/procs_priv.frm
/resources/docker/mariadb/data/mysql/procs_priv.MAD
/resources/docker/mariadb/data/mysql/procs_priv.MAI
/resources/docker/mariadb/data/mysql/proxies_priv.frm
/resources/docker/mariadb/data/mysql/proxies_priv.MAD
/resources/docker/mariadb/data/mysql/proxies_priv.MAI
/resources/docker/mariadb/data/mysql/roles_mapping.frm
/resources/docker/mariadb/data/mysql/roles_mapping.MAD
/resources/docker/mariadb/data/mysql/roles_mapping.MAI
/resources/docker/mariadb/data/projectDB/SalesManager.frm
/resources/docker/mariadb/data/projectDB/salesmanager.ibd
/resources/docker/mariadb/data/mysql/servers.frm
/resources/docker/mariadb/data/mysql/servers.MAD
/resources/docker/mariadb/data/mysql/servers.MAI
/resources/docker/mariadb/data/mysql/slow_log.CSM
/resources/docker/mariadb/data/mysql/slow_log.CSV
/resources/docker/mariadb/data/mysql/slow_log.frm
/resources/docker/mariadb/data/mysql/table_stats.frm
/resources/docker/mariadb/data/mysql/table_stats.MAD
/resources/docker/mariadb/data/mysql/table_stats.MAI
/resources/docker/mariadb/data/mysql/tables_priv.frm
/resources/docker/mariadb/data/mysql/tables_priv.MAD
/resources/docker/mariadb/data/mysql/tables_priv.MAI
/resources/docker/mariadb/data/mysql/time_zone.frm
/resources/docker/mariadb/data/mysql/time_zone.MAD
/resources/docker/mariadb/data/mysql/time_zone.MAI
/resources/docker/mariadb/data/mysql/time_zone_leap_second.frm
/resources/docker/mariadb/data/mysql/time_zone_leap_second.MAD
/resources/docker/mariadb/data/mysql/time_zone_leap_second.MAI
/resources/docker/mariadb/data/mysql/time_zone_name.frm
/resources/docker/mariadb/data/mysql/time_zone_name.MAD
/resources/docker/mariadb/data/mysql/time_zone_name.MAI
/resources/docker/mariadb/data/mysql/time_zone_transition.frm
/resources/docker/mariadb/data/mysql/time_zone_transition.MAD
/resources/docker/mariadb/data/mysql/time_zone_transition.MAI
/resources/docker/mariadb/data/mysql/time_zone_transition_type.frm
/resources/docker/mariadb/data/mysql/time_zone_transition_type.MAD
/resources/docker/mariadb/data/mysql/time_zone_transition_type.MAI
/resources/docker/mariadb/data/mysql/transaction_registry.frm
/resources/docker/mariadb/data/mysql/transaction_registry.ibd
/resources/docker/mariadb/data/mysql/user.frm
/resources/docker/mariadb/data/projectDB/userroles.frm
