body{
    margin: 0px;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

a{
    text-decoration: none;
}

/*---------Menu-------------*/
.menu{
    height: 75px;
    background-color: rgb(185, 209 , 233);
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.menu a{
    text-decoration: none;

}

.menu_tag a::before{
    position: absolute;
    content: '';
    bottom: 0;
    height: 3px;
    width: 100%;
    background: red;
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}


.menu_tag a:hover::before{
    transform: scale(1);
    transform-origin: left;
}

.menu_left{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center; /* align vertically */
    justify-content: center; 
}

.menu_left img{
    height: 80%;
}

.menu_center{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center; /* align vertically */
    justify-content: center; 
}

.center_tag{
    margin-left: 15px;
    margin-right: 15px;
}

.menu_right{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center; /* align vertically */
    justify-content: center; 
}

.menu_tag{
    font-size: 19px;
    font-family: KippaxCondensed, sans-serif;
    text-align: center;
    font-weight: 800;
    ;
    position: relative;
    float:left;
}

.hidden{
    font-family: KippaxCondensed, sans-serif;
    height: 40px;
    width: 150px;
    list-style: none;
    position: relative;
    right: 45px;
    top: 10px;
    font-size: 15px;
    display: none;
}

.hidden a{
    text-decoration: none;

}

.hidden_menu_icon{
    display: none;
    height: 24px;
}

.hidden_menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(185, 209 , 233);
    z-index: 10;
    top: 0px;
}

.hidden_menu_body{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 99%;
}

.hidden_menu_body_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.hidden_menu_logo{
    height: 50px;
}

.hidden_menu_x_icon{
    height: 40px;
}

.hidden_menu_body_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    overflow: scroll;
    scrollbar-width: none;  /*hide the scroll bar*/
}

.hidden_menu_body_main ::-webkit-scrollbar{ /*hide the scroll bar*/ /*found on w3school*/
    display: none;
}

.hidden_menu_tag{
    height: 50px;
    margin: 2px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden_menu_tag_last{
    border-bottom: 0px;
}

.hidden_menu_tag a{
    font-family: KippaxCondensed, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    ;
    text-transform: uppercase;
}

.hidden_menu_tag a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1098px){
    .menu_left{
        width: 15%;
    }

    .menu_right{
        width: 15%;
    }

    .menu_center{
        width: 50%;
    }

}

@media only screen and (max-width: 905px){
    .menu_left{
        width: 12.5%;
    }

    .menu_right{
        width: 12.5%;
    }

    .menu_center{
        width: 55%;
    }

}

@media only screen and (max-width: 825px){
    .menu_tag{
        font-size: 17px;
    }

}

@media only screen and (max-width: 720px){
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu_tag{
        display: none;
    }

    .menu_logo{
        padding-top: 0px;
    }

    .hidden_menu_icon{
        display: block;
        padding-right: 10px;
    }

    .menu_left img{
        height: 70%;
        margin-left: 40px;
    }
}

/*---------Menu-------------*/


.form{
    display: flex;
    justify-content: center;

}

.mainContainer{
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.content form .item-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .item-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .item-details .file{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.file{
    display: flex;
    flex-direction: column;
}

#file{
    margin-top: 10px;
}

.content .title{
    color: rgb(29, 59, 36);
    font-size: 37px;
    margin-left: 300px;

}

form .input-box p{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}


form .input-box span.details{
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

.item-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.item-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.item-details .input-box input:focus,
.item-details .input-box input:valid{
    border-color: rgb(185, 209 , 233);
}

form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}

form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .input-box textarea {
    resize: none;
}

form .button{
    height: 45px;
    margin: 35px 0;
    display: flex;
}

form .button input{
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
     
}

form .button input{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: black;
    border: 2px solid rgb(185, 209 , 233);
    padding: 8px 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

form .button input:hover{
    background-color: rgb(185, 209 , 233);
    color: black;
}

form .button a{
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

form .destext{
    margin-bottom: 10px;
    width: calc(100% / 2 - 20px);
}

form .destext span{
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

form .destext textarea{
    border-bottom-width: 2px;
    resize: none;
    width:100%;
}
