body{
    margin: 0px;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

a{
    text-decoration: none;
}

/*---------Menu-------------*/
.menu{
    height: 75px;
    background-color: rgb(185, 209 , 233);
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.menu a{
    text-decoration: none;

}

.menu_tag a::before{
    position: absolute;
    content: '';
    bottom: 0;
    height: 3px;
    width: 100%;
    background: red;
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}


.menu_tag a:hover::before{
    transform: scale(1);
    transform-origin: left;
}

.menu_left{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center; /* align vertically */
    justify-content: center; 
}

.menu_left img{
    height: 80%;
}

.menu_center{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center; /* align vertically */
    justify-content: center; 
}

.center_tag{
    margin-left: 15px;
    margin-right: 15px;
}

.menu_right{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center; /* align vertically */
    justify-content: center; 
}

.menu_tag{
    font-size: 19px;
    font-family: KippaxCondensed, sans-serif;
    text-align: center;
    font-weight: 800;
    ;
    position: relative;
    float:left;
}

.hidden{
    font-family: KippaxCondensed, sans-serif;
    height: 40px;
    width: 150px;
    list-style: none;
    position: relative;
    right: 45px;
    top: 10px;
    font-size: 15px;
    display: none;
}

.hidden a{
    text-decoration: none;

}

.hidden_menu_icon{
    display: none;
    height: 24px;
}

.hidden_menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(185, 209 , 233);
    z-index: 10;
    top: 0px;
}

.hidden_menu_body{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 99%;
}

.hidden_menu_body_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.hidden_menu_logo{
    height: 50px;
}

.hidden_menu_x_icon{
    height: 40px;
}

.hidden_menu_body_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    overflow: scroll;
    scrollbar-width: none;  /*hide the scroll bar*/
}

.hidden_menu_body_main ::-webkit-scrollbar{ /*hide the scroll bar*/ /*found on w3school*/
    display: none;
}

.hidden_menu_tag{
    height: 50px;
    margin: 2px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden_menu_tag_last{
    border-bottom: 0px;
}

.hidden_menu_tag a{
    font-family: KippaxCondensed, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    ;
    text-transform: uppercase;
}

.hidden_menu_tag a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1098px){
    .menu_left{
        width: 15%;
    }

    .menu_right{
        width: 15%;
    }

    .menu_center{
        width: 50%;
    }

}

@media only screen and (max-width: 905px){
    .menu_left{
        width: 12.5%;
    }

    .menu_right{
        width: 12.5%;
    }

    .menu_center{
        width: 55%;
    }

}

@media only screen and (max-width: 825px){
    .menu_tag{
        font-size: 17px;
    }

}

@media only screen and (max-width: 720px){
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu_tag{
        display: none;
    }

    .menu_logo{
        padding-top: 0px;
    }

    .hidden_menu_icon{
        display: block;
        padding-right: 10px;
    }

    .menu_left img{
        height: 70%;
        margin-left: 40px;
    }
}

/*---------Menu-------------*/
#total{
    font-size: 20px;
    color: black;
}

.genreport button{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: black;
    border: 2px solid red;
    padding: 8px 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.genreport button:hover{
    background-color: red;
    color: black;
}

.clickbutton{
    float: right;
    padding-left: 3rem;
    margin-right: 70px;
    margin-bottom: 10px;
}

button{
    cursor: pointer;
}

.clickbutton input{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: black;
    border: 2px solid rgb(185, 209 , 233);
    padding: 8px 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.clickbutton input:hover{
    background-color: rgb(185, 209 , 233);
    color: black;
}


.clickbutton button{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: black;
    border: 2px solid rgb(185, 209 , 233);
    padding: 8px 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.clickbutton button:hover{
    background-color: rgb(185, 209 , 233);
    color: black;
}

.table h2{
    color: rgb(29, 59, 36);
    font-size: 37px;
    margin-bottom: 15px;
    margin-left: 70px;
}

#gen{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: black;
    border: 2px solid rgb(218, 82, 82);
    padding: 8px 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#gen:hover{
    background-color: rgb(218, 82, 82);
    color: black;
}

.table-wrapper{
    margin: 10px 70px 30px;
}

.table-wrapper img{
    width: 15%;
    height: auto;
}

.fl-table {
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: left;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;
}

.fl-table thead th {
    color: #ffffff;
    background: rgb(139, 189, 240);
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}