@import 'variables.css';
@import 'comon.css';
@import 'navbar.css';


.section-title {
    cursor: pointer;
    user-select: none;
    position: relative;
}

.toggle-icon {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    line-height: 1;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
}

::after, ::before {
    box-sizing: border-box
}

html {
    -moz-tab-size: 4;
    tab-size: 4
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}